<main class="contener">
        <div class="titulo">
            <h1>Perguntas Frequentes</h1>
            <p><ins> 
            Esta página é destinada ao esclarecimento de questões básicas frequentes, de caráter geral, esperamos esclarecer e lhe ajudar a exercer seus direitos. O objetivo é contribuir para a divulgação do conhecimento e a valorização da cidadania. Para resolução de dúvidas específicas de casos concretos, consulte um de nossos advogados.</ins>
        </p>
        </div>
        <div class="perguntas" id="1">
            <h2> 1. O Que É Advocacia Digital?</h2>
            <p>A advocacia digital parte do preceito da utilização de ferramentas digitais não só para o envio de arquivos de forma totalmente segura, como também de encontros com advogados e juízes através de videoconferências. <br> Assim, o resultado acaba por vir mais rápido do que pelas vias tradicionais. Você economiza tempo, despesas com deslocamento e estacionamento, realizando a contratação conforme a sua disponibilidade, de onde estiver, em qualquer horário, para isso basta ter um celular ou um computador.
            </p>
        </div>
        <div class="perguntas">
            <h2>2. Por Que É Mais Vantajoso Contratar Um Escritório Digital?</h2>
            <p>Você economiza tempo, despesas com deslocamento e estacionamento, realizando a contratação conforme a sua disponibilidade, de onde estiver, em qualquer horário, para isso basta ter um celular ou um computador, sendo que poderão enviar documentos pelo aplicativo WhatsApp em qualquer formato (jpeg, pdf, docx etc), podendo assinar eletronicamente procuração e contrato diretamente pela nossa plataforma.</p>
        </div>
        <div class="perguntas">
            <h2>3. As Cópias Dos Meus Documentos Enviados Ficarão Armazenados Em Ambiente Seguro?</h2>
            <p>A advocacia digital é uma tendência em todo o mundo. A inteligência artificial vem invadindo o meio jurídico de modo que o armazenamento de dados e documentos serão corriqueiros no ambiente virtual. Foi por conta dessas situações que surgiu a Lei de Proteção de Dados (LGPD), que servirá para dar uma segurança maior no ambiente virtual. No nosso escritório, seus dados, documentos e informações ficarão armazenados sob a nossa responsabilidade, em plataforma altamente segura.
            </p>
        </div>
        <div class="perguntas">
            <h2>4. Quais Serviços O Escritório Digital Oferece?</h2>
            <p>Alguns dos serviços oferecidos pelo escritório:   registro de marcas, consultivo/planejamento, contratos da elaboração a análise, Holding empresarial, cobranças e títulos de crédito, contratos da elaboração a análise, responsabilidade civil, usucapião – judicial e extrajudicial, cobranças e títulos de crédito, divórcio consensual, doação, Holding familiar, inventário e partilha, alvará judicial e testamento.</p>
        </div>
        <div class="perguntas">
            <h2>5. Como Poderei Tirar Minhas Dúvidas?</h2>
            <p>Por meio do aplicativo WhatsApp: +55 (28) 99981-6901, você poderá enviar mensagens diretamente ao advogado que cuida da sua demanda.</p>
        </div>
        <div class="perguntas">
            <h2>6. Qual O Valor Dos Serviços Oferecidos?</h2>
            <p>Seguimos rigorosamente a tabela da Seccional da OAB, observando os valores mínimos alí estipulados. Assim, os honorários serão cobrados conforme o tempo dispensado, duração e complexidade de cada demanda. Após preenchimento do formulário de caso, passaremos valores, condições e formas de pagamentos.</p>
        </div>
        <div class="perguntas">
            <h2>7. Quem Realizará As Ações E Demais Serviços Oferecidos?</h2>
            <p>Todo o serviço de advocacia, embora digital, é personalizado, ou seja, é analisado, adaptado, elaborado e ajuizado por um dos nossos advogados, que acompanhará todo o processo, até a sua conclusão.</p>
        </div>
        <div class="perguntas">
            <h2>7. Quem Realizará As Ações E Demais Serviços Oferecidos?</h2>
            <p>Ao contratar nossos serviços, é criado um grupo via WhatsApp, onde serão repassados todos os andamentos do seu caso/processo, bem como será informado: dia e hora de audiências e perícias. Além disso, alternativamente, poderá solicitar login e senha para ter acesso direto pelo nosso sistema ou através de um link simplificado que disponibilizamos na descrição do grupo. Portanto, terá acesso a diversos meios para ficar ciente de todos os atos processuais.</p>
        </div>
        <div class="perguntas">
            <h2>9. O Que É Consulta Por Videoconferência?</h2>
            <p>Por meio desse serviço, você poderá realizar uma consulta com um dos nossos advogados, que analisará à viabilidade da sua demanda. As consultas serão realizadas, mediante agendamento prévio, por videoconferência, o que garante um atendimento próximo e personalizado entre cliente e o advogado.Clique aqui para agendar a sua consulta por Videoconferência</p>
        </div>        
        <div class="perguntas">
            <h2>10. Quando Devo Contratar Uma Consulta Jurídica?</h2>
            <p>A Consulta é o meio pelo qual você poderá conversar com uma dos nossos advogados, tirar suas dúvidas, obter um posicionamento jurídico sobre o seu caso, bem como uma análise de documentos e viabilidade da causa.</p>
        </div>            
         <div class="perguntas">
            <h2>11. A Consulta Jurídica É Cobrada?</h2>
            <p>Depende do tipo de consulta. Se houver parecer com análise do mérito já com soluções para o problema, haverá cobrança.</p>
        </div>
        <div class="perguntas">
            <h2>12. Qual O Procedimento Para Contratação Da Consulta On-Line?</h2>
            <p>Acessar a página https://furlanetoadv.com.br/agendamento/, marcar dia e horário, solicitar o link de pagamento pelo WhatsApp e pronto, sua consulta será agendada.</p>
        </div>
        <div class="perguntas">
            <h2>13. Qual O Procedimento Para Contratação De Um Advogado?</h2>
            <p>Após a realização da consulta jurídica, se o seu caso haver probabilidade de direito, a contratação se dará pelo WhatsApp, bem como todas as assinaturas serão eletrônicas pelo referido aplicativo.</p>
        </div>
</main>
<router-outlet></router-outlet>