<router-outlet></router-outlet>

<div class="fundo">
    <div class="conteudo">
        <div class="caixa">
            <h2>1. Na conduta online, atenha-se às mesmas regras que você segue na vida real</h2>
            <p>Ao se comunicar online, lembre-se das regras de etiqueta que você segue no dia a dia. Evite insultar, provocar, ameaçar ou ofender os outros. Respeite as opiniões dos colegas de chat e faça críticas construtivas. Lembre-se de que você pode sofrer processos judiciais por insultar pessoas online.</p>
        </div>
        <div class="caixa">
            <h2 class="titulo">2. Netiqueta: pense nos outros</h2>
            <p class="text">Pense em quem está por trás do computador ao redigir suas mensagens. Você não está se comunicando com uma máquina, mas com pessoas de verdade. Além disso, considere o que e a forma como escreve. Porque o que cai na internet, fica para sempre! Uma captura de tela ou uma cópia de suas mensagens pode ser feita rapidamente e continuar a existir, mesmo se você excluir suas mensagens depois.</p>
        </div>
        <div class="caixa">
            <h2> 3. Apresente o melhor de você ao mundo online</h2>
            <p>A comunicação na internet implica em determinado anonimato que não existe na vida real quando você está cara a cara com alguém. Muitas vezes, esse anonimato reduz o limite de inibição de muitos usuários e eles se comportam rudemente online se, por exemplo, você discordar de suas opiniões. Certifique-se de mostrar seu melhor lado no mundo online. Mantenha-se amigável e agindo de maneira respeitosa, mesmo que discorde. A boa netiqueta caracteriza-se pelo respeito, cortesia e profissionalismo. Uma dica: em geral, evite escrever mensagens ou palavras individuais com letras maiúsculas, mesmo que sua intenção seja enfatizar alguns trechos. Afinal, escrever em letras maiúsculas na internet é como gritar e geralmente é considerado grosseiro. </p>
        </div>
        <div class="caixa">
            <h2> 4. Primeiro leia, depois questione</h2>
            <p> Você tem mais uma questão sobre algo que foi dito? Em seguida, aproveite para ler cuidadosamente os posts da discussão anteriores. Há uma boa chance de alguém já ter respondido a sua pergunta. Se você escrever uma resposta semelhante à de outra pessoa, isso mostra aos outros participantes que você não prestou muita atenção na conversa até agora.Lembre-se que conversas online podem se desenrolar muito rapidamente. Por isso, é importante reunir todas as informações antes de responder ou fazer perguntas.</p>
        </div>
        <div class="caixa">
            <h2> 5. Ajude a combater o "fogo no parquinho"</h2>
            <p>Fogo no parquinho são as situações de troca de mensagens que contêm críticas pessoais agressivas ou ataques a uma pessoa. Em chats, discussões acaloradas muitas vezes degeneram nos chamados casos de fogo no parquinho. Se você estiver em tal discussão, fique longe disso. Lembre-se sempre de que você deve tratar os outros como gostaria que lhe tratassem. Profanação não tem nada a ver com netiqueta.Lembre-se também de que ofensas e ameaças na internet podem ter consequências legais para você. Por isso, resista à tentação de fazer tais comentários, mesmo em discussões acaloradas. Em vez disso, demonstre uma conduta exemplar na internet.</p>
        </div>
        <div class="caixa">
            <h2>7. Conheça seu lugar no ciberespaço</h2>
            <p>A netiqueta é interpretada de forma diferente em diferentes cantos da internet. Por exemplo, é perfeitamente normal fofocar em um grupo de discussão sobre programas de TV. No entanto, se fizer isso em um grupo de discussão de um assunto sério, pode se tornar rapidamente impopular. Por isso, é importante que saber onde você está na internet.Isso também significa que se estiver em uma nova área que não é familiar para você, precisa observar e aprender como se faz. Veja como outras pessoas nesta área do ciberespaço se comunicam e se adapte a elas.</p>
        </div>
        <div class="caixa">
            <h2> 8. Discurso de ódio e netiqueta</h2>
            <p>O chamado discurso de ódio na internet é um problema crescente, especialmente nas redes sociais. Muitas vezes, expressa-se em comentários ofensivos feitos a fotos ou postagens. No entanto, há ações coordenadas por agentes específicos que unem forças com o único propósito de espalhar comentários de ódio. Grupos sociais ou religiosos, estrangeiros ou afrodescendentes são comumente vítimas de tais ações.O que você pode fazer contra o discurso de ódio? Ao se deparar com tais situações na internet, você deve denunciá-las ao provedor do site. Muitas vezes, você terá a opção de denunciar m post diretamente abaixo dele nas redes sociais. Os provedores são legalmente obrigados a excluir conteúdo que é evidentemente ilegal dentro de 24 horas.</p>
        </div>
        <div class="caixa">
            <h2> 9. Netiqueta e os posts de bots/trolls</h2>
            <p>Os chamados bots são programas de computador que seguem automaticamente uma tarefa, sem necessidade de qualquer interação humana. Nos canais de redes sociais, os bots frequentemente postam comentários ou até mesmo cria suas próprias postagens. Eles geralmente propagam spam em fóruns ou nos comentários de post. Isso é irritante e demorado para os administradores, pois essas respostas devem ser identificadas e removidas. Os bots, portanto, não fazem parte da netiqueta e devem ser evitados, se possível.</p>
        </div>
        <div class="caixa">
            <h2> 10. Regras para crianças na internet: não confie em participantes de chat</h2>
            <p>Sua criança deve sempre lidar com desconhecidos mantendo um ceticismo saudável. Nunca se sabe quem está se escondendo por trás do nome e da foto engraçados. Por exemplo, a criança nunca deve marcar de encontrar um estranho só porque se dão bem em uma conversa no chat. Pode ser um adulto mal-intencionado. Da mesma maneira, você deve explicar às crianças que elas não devem adicionar estranhos como amigos em redes sociais como Facebook ou Instagram. As crianças também não devem abrir e-mails e outras mensagens e baixar anexos sem cuidado. Ao fazer isso, elas podem baixar acidentalmente um trojan ou outro malware.</p>
        </div>
        <div class="caixa">
            <h2> 11. Justiça em primeiro lugar: ninguém deve ser excluído</h2>
            <p>Se sua criança está se comunicando em um grupo privado, ela deve abster-se de fazer piadas segregantes que nem todos no grupo entenderão. É melhor enviar uma mensagem privada a pessoa que entenderá. Outros participantes do chat não devem se sentir excluídos. A netiqueta inclui valores como tolerância, respeito e solidariedade. Isso também significa que apenas uma linguagem partilhada por todos deve ser usada. Em um chat em grupo escolar, sua criança deve sempre ter certeza de que todos os membros estão no mesmo nível, por exemplo, durante uma revisão ou apresentação. Quando sua criança está explicando um tema que pode não ser claro para todos, é uma boa ideia tirar dúvidas sobre o tema.</p>
        </div>
    </div>
</div>