<div class="conteite">
    <div class="cabesalho">
        <h1>Assosiados</h1>
    
        <h2></h2> 
        
    </div>
    
    <div class="are-advocacia">
        <h2 class="titulo">Órgãos da OAB</h2>
        <p class="text">A estrutura da OAB, entendendo quais são os órgãos que a compõem. É importante saber que a OAB é composta pelos seguintes órgãos:</p> 
        <p> Conselho Federal; Conselhos Seccionais</p> 
        <p>Caixas de Assistência dos Advogados (CAA)</p>
        <h3>Telefone: 3036-7000</h3>
    </div>
    
    <div class="are-advocacia">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF8u8xEtLv0Y15JR1UHydjPf7J1C2wqtZrCw&s" alt="Imagem não carregada!">
        <h2 class="titulo">Ministério Público</h2>
        <p class="text"> Instituição pública responsável pela defesa dos interesses da sociedade, como saúde, segurança pública, meio ambiente, educação, direitos humanos e patrimônio público, histórico e cultural. Quando um direito coletivo não é respeitado e muitas pessoas são prejudicadas, o Ministério Público tem o dever de agir, pois é o fiscal da lei, ainda que seja contra o próprio Poder Público. </p>
    </div>
    
    <div class="are-advocacia">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiPSLmUPgjLlzvWRNrF6hGYjNxnk5cgOU-AA&s" alt="Imagem não carregada!">
        <h2 class="titulo">A Associação Brasileira de Advogados (ABA) </h2>
        <p class="text">É uma entidade privada e apartidária, dedicada a fortalecer a advocacia em todo o Brasil. Com uma abordagem inovadora, a ABA conecta profissionais do Direito, promovendo oportunidades de aprendizado, networking e reconhecimento. Seu compromisso está em oferecer suporte e capacitação para que os advogados alcancem destaque no mercado jurídico e desenvolvam suas carreiras com excelência.
        </p>
        <h3>Telefone: (61) 3328-2898</h3>
    </div>

    <div class="are-advocacia">
        <h2 class="titulo">O Poder Legislativo</h2>
        <p class="text">O Poder Legislativo tem um importante papel para a sociedade. Essencial para o funcionamento de qualquer regime democrático, no Brasil, é o Parlamento que estabelece um elo entre o povo e seus representantes nos municípios, nos estados e no país. Esse Poder do Estado trabalha para que todos os brasileiros sejam cidadãos livres, com direitos, garantias e deveres.É o responsável por produzir as leis que irão orientar nossa sociedade com o objetivo regular a vida em comum.</p>
        <h3>(xx)xxxxx-xxxx</h3>
    </div>

</div>
<router-outlet></router-outlet>
